* {
    scroll-behavior: smooth !important;
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
}

.landing-page-img {
    height: 60vh;
}

.tb-logo {
    width: 25vw;
}