$header-font: 'Montserrat', sans-serif;
$paragraph-font: 'Work Sans', sans-serif;
$primary-color: #298A6A;

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #f5f5f5;
$nav-font-color: #000;
$link-hover-color: #2581DC;

@media only screen and (max-width: 420px) {
    p, small {
        font-family: $paragraph-font;
    }

    h1 {
        font-family: $header-font;
    }

    hr {
        background-color: $primary-color;
        height: 2px; 
        border: 0; 
    }

    .desktop-version {
        display: none;
    }
    .mobile-version {
        .mobile-nav {
            height: $nav-height;
            background: $nav-background;
            width: 100vw;
            position: fixed;
            top: 0;
            z-index: 999;
            // Logo and branding
            .brand {
                height: 9vh;
                display: flex;
                align-items: center;
                img {
                    height: 4vh;
                }
            }
            
            // Container with no padding for navbar
            .nav-container {
                max-width: $content-width;
                margin: 0 auto;
            }
            
            // Navigation 
            nav {
                float: right;
                ul {
                list-style: none;
                li {
                    float: left;
                    position: relative;
                    text-decoration: none;
                    font-family: $paragraph-font;
                    font-weight: 600;
                    color: #000;
                    a,
                    a:visited {
                    display: block;
                    line-height: $nav-height;
                    background: $nav-background;
                    color: $nav-font-color;
                    text-decoration: none;
                    &:hover {
                        background: $primary-color;
                        color: #fff;
                    }
                    } // Dropdown list
                    ul li {
                    min-width: 100vw;
                    }
                }
                }
            }
            
            // Dropdown list binds to JS toggle event
            .nav-dropdown {
                position: absolute;
                display: none;
                z-index: 1;
                box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
            }
            
            /* Mobile navigation */
            
            // Binds to JS Toggle
            .nav-mobile {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                background: $nav-background;
                height: $nav-height;
                width: $nav-height;
            }
                // Hamburger nav visible on mobile only
                .nav-mobile {
                display: block;
                }
                nav {
                width: 100%;
                background-color: #f5f5f5;
                ul {
                    display: none;
                    li {
                    float: none;
                    a {
                        padding: 15px;
                        line-height: 20px;
                    }
                    ul li a {
                        padding-left: 30px;
                    }
                    }
                }
                }
                .nav-dropdown {
                position: static;
                }
            #nav-toggle {
                position: absolute;
                left: 18px;
                top: 22px;
                cursor: pointer;
                padding: 10px 35px 16px 0px;
                span,
                span:before,
                span:after {
                cursor: pointer;
                border-radius: 1px;
                height: 5px;
                width: 35px;
                background: $nav-font-color;
                position: absolute;
                display: block;
                content: '';
                transition: all 300ms ease-in-out;
                }
                span:before {
                top: -10px;
                }
                span:after {
                bottom: -10px;
                }
                &.active span {
                background-color: transparent;
                &:before,
                &:after {
                    top: 0;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
                }
            }
        }
        
        .mobile-landing-page {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            .mobile-landing-page-title {
                width: 80%;
                img {
                    width: 80vw;
                }
                .slogan {
                    display: flex;
                    justify-content: flex-end;
                    color: $primary-color;
                    font-family: $paragraph-font;
                    font-size: 24px;
                }
                .view-rooster-btn {
                    font-family: $paragraph-font;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    background-color: $primary-color;
                    color: #fff;
                    box-shadow: 0px 8px 25px #298a6a88;
                    padding: 1rem;
                    transition: all 1s ease;
                    transform: scale(1);
                    font-size: 16px;
                    &:hover {
                        transform: scale(1.05) perspective(1px);
                        box-shadow: 0px 12px 30px #298a6ad0;
                    }
                }
            }
            .lees-meer {
                text-decoration: none;
                z-index: 1;
                color: #000;
                font-size: 20px;
                text-align: center;
                position: absolute;
                bottom: 0;
                font-family: $paragraph-font;
                animation: bounce 1s infinite alternate;
                -webkit-animation: bounce 1s infinite alternate;
                i {
                    color: $primary-color;
                }
            }
            @keyframes bounce {
                from {
                  transform: translateY(0px);
                }
                to {
                  transform: translateY(-15px);
                }
              }
            @-webkit-keyframes bounce {
                from {
                  transform: translateY(0px);
                }
                to {
                  transform: translateY(-15px);
                }
            }
        }

        #mobile-over-ons {
            height: 230vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            .mobile-over-ons-container {
                width: 80%;
                .over-ons-text-container {
                    h1 {
                        font-size: 48px;
                        span {
                            color: $primary-color;
                        }
                    }
                    p {
                        line-height: 30px;
                    }
                    img {
                        width: 80vw;
                        margin-top: 1rem;
                    }
                }
            }
        }

        #mobile-sporten {
            height: 260vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .mobile-sporten-container {
                width: 80%;
                margin: 2rem 0;
                h1 {
                    font-size: 36px;
                }
                p {
                    line-height: 30px;
                }
                img {
                    width: 80vw;
                }
            }
        }

        #mobile-rooster-tarieven {
            height: 180vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .mobile-tarieven-container {
                width: 80%;
                margin: 2rem 0;
                h1 {
                    font-size: 36px;
                }
                img {
                    width: 80vw;
                    box-shadow: 0px 8px 10px #298a6a2f;
                }
            }
        }

        #mobile-reviews {
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .mobile-reviews-container {
                width: 80%;
                .mobile-review {
                    width: 70vw;
                    height: max-content;
                    border-radius: 10px;
                    padding: 1rem;
                    box-shadow: 0px 4px 10px #298a6a56;
                    display: flex;
                    flex-direction: column;
                    margin: 3rem 0;
                    p {
                        padding: 1rem 0;
                    }
                    img {
                        width: 20vw;
                    }
                }
            }
        }

        #mobile-contact {
            height: 80vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .mobile-contact-container {
                width: 80%;
                h1 {
                    font-size: 32px;
                }
                small {
                    font-size: 1.1rem;
                }
                p {
                    font-size: 24px;
                }
            }
            .maps-info {
                margin: 2rem 0;
                iframe {
                    width: 80vw;
                }
            }
        }
        
        #mobile-footer {
            width: 100%;
            height: max-content;
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            .mobile-footer-container {
                width: 80%;
                color: #fff;
                padding: 1rem 0;
                .proefles-container {
                    margin: 2rem 0;
                    p {
                        line-height: 25px;
                    }
                }
                .social-container {
                    ul {
                        display: flex;
                        li {
                            list-style: none;
                            padding-right: 1rem;
                            padding-top: 1rem;
                            a {
                                i {
                                    color: #fff;
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
                hr {
                    width: 80vw !important;
                    background-color: #fff !important;
                    height: 2px !important; 
                    border: 0 !important; 
                }
                .dev-info {
                    p {
                        margin: 1.5rem 0;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}